<div class="detail-container">
    <div class="photo"></div>
    <div class="detail">
        <div class="detail-item"><span class ="detail-header">{{LastName}},{{firstName}}</span></div>
        <div class="detail-item"><span class ="detail-header">({{samId}})</span></div>
        <div class="detail-item"><span class ="detail-header">Employee ID :</span> {{empId}}</div>
        <div class="detail-item"><span class ="detail-header">Grade :</span> {{grade}}</div>
        <div class="detail-item"><span class ="detail-header">Tenure :</span> {{tenure}} Year(s)</div>
    </div>
</div>
