

.photo{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-width: 3px;
    margin-left: 0px;
    margin-bottom: 6px;
    height: 120px;
    width: 137px;
}

.detail-container {
    margin: 3px;
    width: 365px;
    height: 147px;
    padding: 14px;
    font-size: 13px;
    font-family: arial;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
 
 .detail  {
     float:left;
     margin-left: 153px;
     margin-top: -122px;
 }
 
 .detail-item  {
    padding: 5px;
 }
 
 .detail-header  {
    font-size: 12px;
    font-weight: 700;
 }
