<datatable [dataset]=Data (ratebtnClick)="OnRateEmployee($event)">
  <column [value]="'emp_name'" [header]="'Emp Name'"></column>
  <column [value]="'emp_no'" [header]="'Emp ID'"></column>
  <column [value]="'job_grade'" [header]="'Job Grade'"></column>
  <column [value]="'tenure'" [header]="'Tenure in PayPal'"></column>
  <column [value]="'rating_cur'" [header]="'Current Rating'"></column>
  <column [value]="'rating_prev'" [header]="'Previous Rating'"></column>
  <column [value]="'is_top'" [header]="'Top Talent'"></column>		 
</datatable>
