<ul>
    <li>
        <div class="timeline-header"></div>
    </li>
    <li>
        <div class="rectangle"></div>
    </li>
    <li>
        <div class="circle darkgrey"></div>
        <div class="circle grey"></div>
        <div class="circle concentric"></div>
        <div class="circle orange"></div>
        <div class="circle orange"></div>
        <div class="circle orange"></div>
        <div class="circle concentric"></div>
        <div class="circle grey"></div>
        <div class="circle darkgrey"></div>
    </li>
</ul>