<ul>
    <li>
        <div class="timeline-header">
            <span>{{yearText}} {{monthText}}</span>
            <div class ="rating-text"> 
             {{rating}}
            </div>
        </div>
    </li>
    <li>
        <div class="rectangle"><div class="rating-summary">{{ratingSummary}}</div></div>
    </li>
    <li>
        <div class="circle darkgrey"></div>
        <div class="circle grey"></div>
        <div class="circle concentric"></div> 
        <div class="linear-line"></div>
        <div class="end-dot"></div>
    </li>
</ul>